/*Resposiver !!*/



	
/*For extral Small*/
@media only screen and (max-width: 600px) {
    .header{
        width: 100%;
        margin: 0;
    }
    .headerImageBox{
        width: 60%;
        margin-right: 15%;
        float: right;
    }
    .headerBioBox{
         width:90%;
        margin-right:5%;
        float: right;
    }
}
/*For Small __AKA Mobile*/
@media only screen and (min-width: 600px) {
     .header{
        width: 100%;
        margin: 0;
    }
    .headerImageBox{
        width: 60%;
        margin-right: 15%;
        float: right;
    }
    .headerBioBox{
         width:90%;
        margin-right:5%;
        float: right;
    }   
}


/*For tablets*/
@media only screen and (min-width: 768px) {}


/*note : Defults are generated for Desktops and TV*/


